

<!-- auth-new.handlebars -->
<body>
    <form action="/sign-up" method="post">
        <p>
            <label>Welcome.</label>
            </br>
            Sign Up!
        </p>
        <p>
            <label>Username</label>
            <input name="username" autocomplete="false" type="text" class="form-control" id="post-username" placeholder="username">
        </p>
        <p>
            <label>Password</label>
            <input name="password" autocomplete="false" type="password" class="form-control" id="post-password" placeholder="*******">
        </p>
        <p>
        <button type="submit">Submit</button>
        </p>
    </form>
    <div class="footer">
        <div class="hero-overlay-text">
            <h1>Back</h1>
            <a href="/" class="call-to-action-btn">BACK TO HOME</a>
        </div>
    </div>
</body>